<div align="center">
  <h2>Checkout</h2>
  <h3>Quantity: {{ cart.totalQuantity }} </h3>
  <h3>Total price: {{ cart.totalPrice }} </h3>
  <table [dataSource]="cart.items" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let item" mat-cell> {{ item.product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="photo">
      <th *matHeaderCellDef mat-header-cell> Photo</th>
      <td *matCellDef="let item" mat-cell>
        <img *ngIf="item.product.photos.length>0" alt="no photo" src="{{item.product.photos[0].url}}"/>
        <p *ngIf="item.product.photos.length==0">no photo</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let item" mat-cell>
        <h3>
          {{ item.quantity }}
        </h3>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <p></p>
  <button (click)="openCart()" color="primary" mat-raised-button>Edit products</button>
  <p></p>
  <form>
    <p>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input [(ngModel)]="orderDto.description" matInput name="description">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>User</mat-label>
        <input [(ngModel)]="orderDto.username" matInput name="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="orderDto.email" matInput name="email">
      </mat-form-field>
    </p>
  </form>
  <button (click)="addOrder()" color="primary" mat-raised-button>Confirm Order</button>
</div>
