<h1 align="center">{{ title }}</h1>
<form [formGroup]="data.typeForm">
  <p align="center">
    <input formControlName="id" type="hidden">
  </p>
  <p align="center" [hidden]="hidden">
    <mat-form-field>
      <mat-label>Brand:</mat-label>
      <mat-select formControlName="brandId">
        <mat-option [value]="0">None</mat-option>
        @for (brand of brands; track brand) {
          <mat-option [value]="brand.id">{{ brand.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
</form>
<div align="center" mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [mat-dialog-close]="data.typeForm" cdkFocusInitial mat-button>Ok</button>
</div>
