<mat-chip-listbox>
  <mat-chip-option (click)="typeFilter(type.id)" *ngFor="let type of filterTypes">{{ type.name }}</mat-chip-option>
</mat-chip-listbox>
<mat-chip-listbox>
  <mat-chip-option (click)="brandFilter(brand.id)" *ngFor="let brand of filterBrands">{{ brand.name }}</mat-chip-option>
</mat-chip-listbox>
<p></p>
<div align="center">
  <h2>Total price: </h2>
  <h2 *ngFor="let cart of carts">
    <p align="center">Product: {{ cart.products[0].name }}</p>
    <button (click)="minusItem(cart.id)" color="primary" mat-icon-button>
      -
    </button>
    {{ cart.quantity }}
    <button (click)="plusItem(cart.id)" color="primary" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="removeFromCart(cart.id)" color="primary" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="addOrder(cart)" color="primary" mat-icon-button>Make Order</button>
  </h2>

</div>
<table (matSortChange)="sortProducts($event)" [dataSource]="products" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by name"> Name</th>
    <td *matCellDef="let product" mat-cell> {{ product.name }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by price"> Price</th>
    <td *matCellDef="let product" mat-cell> {{ product.price }}</td>
  </ng-container>
  <ng-container matColumnDef="photo">
    <th *matHeaderCellDef mat-header-cell> Photo</th>
    <td *matCellDef="let product" mat-cell>
      <span *ngFor="let photo of product.photos">
        <img src="{{photo.url}}"/>
        <button (click)="deletePhoto(photo)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      </span>
      <button (click)="addPhoto(product.id)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by type"> Type</th>
    <td *matCellDef="let product" mat-cell> {{ product.type.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by brand"> Brand</th>
    <td *matCellDef="let product" mat-cell> {{ product.brand.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell> Actions</th>
    <td *matCellDef="let product" mat-cell>
      <button (click)="editProduct(product)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
      <button (click)="deleteProduct(product)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="cart">
    <th *matHeaderCellDef mat-header-cell> Cart</th>
    <td *matCellDef="let product" mat-cell>
      <button (click)="addToCart(product.id)"
              *ngIf="(role=='user' || role=='admin') && !cartProductIds.includes(product.id)" color="primary" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <p *ngIf="(role=='user' || role=='admin') && cartProductIds.includes(product.id)">product in cart</p>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator (page)=pageChangeEvent($event)
               [length]="totalProducts"
               [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
</mat-paginator>
<p></p>
<button (click)="addProduct()" *ngIf="role=='admin'" color="primary" mat-raised-button>Add product</button>




