<p></p>
<mat-chip-listbox>
  <mat-chip-option (click)="typeFilter(type.id)" *ngFor="let type of filterTypes">{{ type.name }}</mat-chip-option>
</mat-chip-listbox>
<mat-chip-listbox>
  <mat-chip-option (click)="brandFilter(brand.id)" *ngFor="let brand of filterBrands">{{ brand.name }}</mat-chip-option>
</mat-chip-listbox>
<p></p>
<p align="center">
  <button (click)="openCart()" *ngIf="role=='admin' || role=='user'" color="primary" mat-flat-button>
    Cart
    <mat-icon matBadge="{{totalQuantity}}" matBadgePosition="after" matBadgeSize="small">shopping_cart</mat-icon>
  </button>
</p>
<table (matSortChange)="sortProducts($event)" [dataSource]="products" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by name"> Name</th>
    <td *matCellDef="let product" mat-cell> {{ product.name }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by price"> Price</th>
    <td *matCellDef="let product" mat-cell> {{ product.price }}</td>
  </ng-container>
  <ng-container matColumnDef="photo">
    <th *matHeaderCellDef mat-header-cell> Photo</th>
    <td *matCellDef="let product" mat-cell>
      <span *ngFor="let photo of product.photos">
        <img src="{{photo.url}}"/>
        <button (click)="deletePhoto(photo)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      </span>
      <button (click)="addPhoto(product.id)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by type"> Type</th>
    <td *matCellDef="let product" mat-cell><span *ngIf="product.type!=null">{{ product.type.name }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by brand"> Brand</th>
    <td *matCellDef="let product" mat-cell><span *ngIf="product.brand!=null"> {{ product.brand.name }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell> Actions</th>
    <td *matCellDef="let product" mat-cell>
      <button (click)="editProduct(product)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
      <button (click)="deleteProduct(product)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="cart">
    <th *matHeaderCellDef mat-header-cell> Item</th>
    <td *matCellDef="let product" mat-cell>
      <button (click)="addItemToCart(product.id)"
              *ngIf="(role=='user' || role=='admin') && !cartProductIds.includes(product.id)" color="primary"
              mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button (click)="login()"
              *ngIf="role=='none'" color="primary"
              mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <p *ngIf="(role=='user' || role=='admin') && cartProductIds.includes(product.id)">product in cart</p>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator (page)=pageChangeEvent($event) [length]="totalProducts"
               [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
</mat-paginator>
<button (click)="addProduct()" *ngIf="role=='admin'" color="primary" mat-raised-button>Add product</button>




