<h1 align="center">{{title}}</h1>
<form>
  <p align="center">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(value)]="productDto.typeId">
        <mat-option [value]="type.id" *ngFor="let type of types">{{type.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Brand</mat-label>
      <mat-select [(value)]="productDto.brandId">
        <mat-option [value]="brand.id" *ngFor="let brand of brands">{{brand.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="productDto.name" name="name">
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Price:</mat-label>
      <input matInput [(ngModel)]="productDto.price" name="price">
    </mat-form-field>
  </p>
</form>
<div align="center" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="productDto" cdkFocusInitial>Ok</button>
</div>

