<h1 align="center">{{ title }}</h1>
<form>
  <p align="center">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select (selectionChange)="selectType($event)" [(ngModel)]="productDto.typeId" name="typeId">
        <mat-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Brand</mat-label>
      <mat-select [(ngModel)]="productDto.brandId" name="brandId">
        <mat-option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input [(ngModel)]="productDto.name" matInput name="name">
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Price:</mat-label>
      <input [(ngModel)]="productDto.price" matInput name="price">
    </mat-form-field>
  </p>
</form>
<div align="center" mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [mat-dialog-close]="productDto" cdkFocusInitial mat-button>Ok</button>
</div>

