<div align="right">
  <button [matMenuTriggerFor]="menu" color="primary" mat-stroked-button>
    {{ username }} : {{ role }}
  </button>
  <mat-menu #menu="matMenu">
    <p>
      <button (click)="editUser()" color="primary" mat-stroked-button>Change password
      </button>
    </p>
    <p>
      <button (click)="logout()" color="primary" mat-stroked-button>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </p>
  </mat-menu>
  <button (click)="login()" color="primary" mat-stroked-button>
    <mat-icon>login</mat-icon>
    Login
  </button>
  <button (click)="login2()" color="primary" mat-stroked-button>
    <mat-icon>login</mat-icon>
    Login2
  </button>
  <button (click)="addUser()" color="primary" mat-stroked-button>Sign Up</button>
</div>

