<table (matSortChange)="sortTypes($event)" [dataSource]="types" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by name">Type</th>
    <td *matCellDef="let type" mat-cell>{{ type.name }}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell>Edit</th>
    <td *matCellDef="let type" mat-cell>
      <button (click)="editType(type)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell>Delete</th>
    <td *matCellDef="let type" mat-cell>
      <button (click)="deleteType(type)" *ngIf="role=='admin'" color="primary" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<p></p>
<button (click)="addType()" *ngIf="role=='admin'"  mat-flat-button>Add type</button>
