<h1 align="center">{{ title }}</h1>
<form [formGroup]="data.brandForm">
  <p align="center">
    <input formControlName="id" type="hidden">
  </p>
  <p align="center" [hidden]="hidden">
    <mat-form-field>
      <mat-label>Type:</mat-label>
      <mat-select formControlName="typeId">
        @for (type of types; track type) {
          <mat-option [value]="type.id">{{ type.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
  </p>
</form>
<div align="center" mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [mat-dialog-close]="data.brandForm" cdkFocusInitial mat-button>Ok</button>
</div>
