<h1 align="center">{{ title }}</h1>
<form>
  <p align="center">
    <mat-form-field *ngIf="title=='Add brand'">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="brandDto.typeId" name="typeId">
        <mat-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p align="center">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input [(ngModel)]="brandDto.name" matInput name="name">
    </mat-form-field>
  </p>
</form>
<div align="center" mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [mat-dialog-close]="brandDto" cdkFocusInitial mat-button>Ok</button>
</div>
