<div align="center">
  <h2>Total price: {{ totalPrice }} </h2>
  <h2 *ngFor="let item of items">
    Product: {{item.product.name}};
    <button (click)="minusItem(item.id)" color="primary" mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
    {{ item.quantity }}
    <button (click)="plusItem(item.id)" color="primary" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="removeFromCart(item.id)" color="primary" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </h2>
</div>


