<nav>
  <a class="button" routerLink="/">Products</a> |
  <a class="button" routerLink="/types">Types</a> |
  <a class="button" routerLink="/brands">Brands</a>
</nav>
<p align="right">
  <button *ngIf="!isLoggedIn" mat-raised-button color="primary" (click)="login()">Log In</button>
  <button *ngIf="isLoggedIn" mat-raised-button color="primary" (click)="logout()">Logout</button>
  <button *ngIf="!isLoggedIn" mat-raised-button color="primary" (click)="register()">Sign Up</button>
</p>
<router-outlet></router-outlet>


